
body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.auth-modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-modal-box {
    padding: 30px;
    max-width: 400px;
    background-color: var(--white-color);
    border-radius: 5px;
    border: 5px solid var(--darker-color);
    box-shadow: 12px 12px 0 var(--dark-color);
    text-align: center;
}
.auth-modal-box h2 {
    color: var(--darker-color);
}
.auth-modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;
}
.auth-modal-buttons a,
.auth-modal-buttons button {
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
.login-button {
    background-color: var(--light-color);
    color: var(--white-color);
    border-radius: 10px;
    border: 4px solid var(--darker-color);
    box-shadow: 5px 5px 0px var(--middle-color);
    font-weight: bold;

}
.register-button {
    color: var(--darker-color);
    background-color: var(--white-color);
    border: 4px solid var(--darker-color);
    box-shadow: 5px 5px 0px var(--middle-color);
    border-radius: 10px;
    font-weight: bold;

}
.back-button {
    background: transparent;
    border: none;
}